<div class="w-[96vw] mx-auto">
  <form [formGroup]="addMemoForm" (ngSubmit)="formMemo()" name="formContainer"
        class="grid grid-cols-10"
  >
    <div class="col-span-6">
      <input formControlName="title"
             type="text"
             name="title"
             placeholder="title placeholder"
             minlength="1"
             required
             class="p-2 m-1 bg-amber-200 rounded-md"
      />
      <input formControlName="content"
             type="text"
             name="content"
             placeholder="content"
             minlength="1"
             required
             class="p-2 m-1 bg-amber-200 rounded-md"
      />
    </div>
    <button
      class="font-medium col-span-4 bg-amber-800 rounded-md text-amber-100"
      type="submit">Add</button>
  </form>

  @if(userInputMessage()) {
    <span class="text-warning text-sm">
        {{ userInputMessage() }}
      </span>
  }
</div>

<style>
  input::placeholder {
    opacity: 60%;
  }
</style>
