<div class="">
    @for (memo of memosFromDB(); track memo.id) {
    <div [class]="backgroundColorGenerator(memo.id)"
      class="flex backdrop-hue-rotate-90 opacity-80 flex-col filter w-[95vw] mx-auto my-6 backdrop-blur-xl border border-amber-100 rounded-lg">
      <div class="mx-3 mb-0 border-b border-slate-200 pt-3 pb-2 px-1">
    <span class="text-sm font-medium text-slate-600">
      <button (click)="showMemosOfUser(memo.username)">
        <a>{{memo.username}}</a>
      </button>
    </span>
      </div>

      <div class="p-4">
        <h5 class="mb-2 text-slate-800 text-xl font-semibold">
          {{ memo.title }}
        </h5>
        <p class="text-slate-600 leading-normal font-light">
          {{ memo.content }}
        </p>
      </div>
      <div class="mx-3 border-t border-slate-200 pb-3 pt-2 px-1">
    <span class="text-sm text-slate-600 font-medium">
      {{ memo.createdOn }}
    </span>
        <div class="flex flex-col w-[25%] text-[blue]">
          <button (click)="mbid(memo.id)">show {{ memo.id }}</button>
        </div>
        @if(userProfileService.profile()) {
        <div class="flex flex-col w-[25%] text-[red]">
          <button (click)="deleteMemoById(memo.id)">delete {{ memo.id }}</button>
        </div>
        }
      </div>
    </div>
    }
</div>
